* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    height: 100vh;
    overflow-x: hidden;
    background-color: #f0f0f0;
}

.background-animation {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

header {
    text-align: center;
    background-color: #8BC34A;
    padding: 20px;
    color: #fff;
}

header h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
}

header p {
    font-size: 1.2em;
    margin-top: 5px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
}

.movie-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
    max-width: 1200px;
}

.movie-card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    padding: 15px;
    text-align: center;
    transition: transform 0.3s ease;
}

.movie-card:hover {
    transform: scale(1.05);
}

.movie-card h2 {
    font-size: 1.5em;
    color: #4CAF50;
    margin-bottom: 10px;
}

.movie-card p {
    font-size: 1em;
    color: #666;
    margin-bottom: 15px;
}

/* Ajuste das imagens para se parecerem com capas de filmes */
.movie-card img {
    width: 100%; /* Ocupe toda a largura do card */
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    margin-bottom: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.movie-card img:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.3);
}

/* Adicionamos um estilo específico para o conteúdo de cada página de filme */
.movie-content {
    text-align: center;
    padding: 20px;
}

.movie-content img {
    width: 70%;
    max-width: 800px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
}

.movie-content p {
    font-size: 1.2em;
    color: #555;
    line-height: 1.6;
}
/* Remove o sublinhado azul dos links */
a {
    text-decoration: none;
    color: inherit; /* Mantém a cor atual do texto */
}

a:hover {
    color: #4CAF50; /* Opcional: Adiciona uma cor ao passar o mouse */
}
body {
    font-family: Arial, sans-serif;
    height: 100vh;
    overflow-x: hidden;
    background: url('images/background.jpg') no-repeat center center fixed;
    background-size: cover;
    color: #fff; /* Para garantir boa leitura caso a imagem seja escura */
}


